div.header{
    height: 130px;
}

div.center{
  height:auto;
  margin-bottom:auto;
  padding-top:7px;
  overflow:auto;
}

div.footer{
  bottom:0;
  font-weight:bolder;
  height:30px;
  position:absolute;
  text-align:center;
  width:100%;}

fieldset.titleIstituto{
  margin-left: 10px;
  margin-top: 100px;
    float:left;
    
}

fieldset.titleIstituto legend{
    font-size:medium;
}

fieldset.urlIstituto{
    float: right;
}

.iMagazziniDigitali{
    float:left;
}

.cruscotto{
    border:solid 3px #00c;
}

.cwCruscotto{
    margin: 5px 10px 10px 10px;
    padding:10px 10px 10px 10px;
    border: 1px solid #ccf;
}

.fCruscotto{
    margin:auto;
}

.fCruscotto table{
    margin:auto;
}

.search{
    border:solid 3px #00c;
}

div.cwSearch{
  border:1px solid #CCCCFF;
  margin:auto;
  min-width:550px;
  padding:1px;
  width: 98%;
}

.fSearch{
    margin:auto;
}

.fSearch table{
    margin:auto;
}

input.tbVerde {
    background-color: gold;
    font-weight:bold;
}

input.tbArancione {
    background-color: Orange;
    color: white;
    font-weight:bold;
}

input.tbRosso {
    background-color: red;
    color: white;
    font-weight:bold;
}

input.tbGiallo {
    background-color: yellow;
    font-weight:bold;
}
